

.container{
    overflow: hidden;
    width :100%;
    padding: 3%;
    padding-top: 1%;
    box-sizing: border-box;

}


.itemBlock{
    padding :5px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.items{
    border: 0.1px solid grey;
    padding: 5%;
    box-sizing: border-box;
    height: 100%;
    width:100%;
    display: grid;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    transition: 0.33s all;
    overflow: hidden;
}
.items:hover{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.viewMoreContainer{
    position: absolute;
    /* background-color: azure; */
    right: 0;
    bottom: 0;
    padding: 2%;
}

.itemDescriptionContainer{
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content:center;
    width:100%;
    /* width:100%;
    height: 100%; */
    /* padding-top: 25%;
    box-sizing: border-box; */
}
.itemDescription{
    width:100%;
    font-size: 20px;
    font-weight: 300;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    
    word-wrap: break-word;
}
.itemName{
    /* position: absolute; */
    color: black;
    font-size: 30px;
    width:100%;
    display: -webkit-box;
    -webkit-line-clamp: ;
    -webkit-box-orient: vertical;
    
    /* overflow: hidden; */
    /* background-color: red; */
    /* text-align: center; */
    font-weight: bold;
    /* display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; */
    word-wrap: break-word;
}
@media only screen and (max-width: 501px) {
    .items{
        /* display: grid; */
        /* grid-template-rows: 60% 40%; */
        /* grid-template-columns: 60% 40%; */
    }
    .itemName{
        text-align: center;
    }
    .itemDescription{
        text-align: center;
        /* font-size: 50px; */
    }

}

@media only screen and (min-width: 501px) {
    .items{
        /* grid-template-rows: 60% 40%; */
        display: grid;
        grid-template-columns: 60% 40%;


    }
    .itemName{
        font-size: 20px;

    }
 
    .itemDescription{
        font-size: 15px;

    }
    .items{
        /* grid-template-rows: 40% 60%; */
        /* grod: column; */

    }
}




.ItemoverlayContainer{
    width:100%;
    height:100%;
    z-index: 500;
    top :0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /* From https://css.glass */
    /* From https://css.glass */
    background: rgba(7, 7, 7, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    flex-direction: column;
}

.Tabs{
    background: white;
    border: 1px solid black;
    width: 90%;
    margin-top: 10px;
    padding: 1%;
    padding-left: 3%;
    box-sizing: border-box;
    border-radius: 2em;
    text-align: center;
}
.itemOverlay{
    /* border: solid 0.5px black; */
    background-color: white;
    width:90%;
    height:80%;
    color: black;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 2em;
    overflow: hidden;
    display :grid;
    transition : all 1.5s;
}

.TabButton {
    cursor: pointer;
}

.TabButton:hover{
    text-decoration: underline;
}

.TabContainer{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 15px;
}


/* .itemDescriptionContainer{ 
    background-color: blue;
    padding : 2%;
    box-sizing: border-box;
    color: white;
    display :grid;
    grid-template-rows: 80% 20%;
}

.itemPriceContainer{
    align-items: center;
    justify-items: center;
    display: flex;
}

.itemDescriptionInformation{
    background-color: white;
}

.itemImageContainer{


} */