




.container{
    display: flex;
    width:100%;    /* display: grid; */
    justify-content: flex-end;
    padding:5px;
    box-sizing: border-box;
    overflow: hidden;
}

.items{
    /* transition: all 0.5s; */

    text-overflow: ellipsis;
    /* overflow: hidden; */
    display: -webkit-box;
    text-align: center;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    color: grey;
    /* transition: all 0.5s; */
    cursor: pointer;
    /* padding: 2%; */
    margin-left: 5%;
    position: relative;
    /* box-sizing: border-box; */
    font-size: 1.3vw;
    max-width: 100%;
    overflow: hidden;
}
.items:hover{
    opacity: 60%;
}