

.header_Container{

    background-color: white;
    width :100%;
    height : auto;
    color :white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.content_Container{

    width:100%;
    /* background-color: red; */
    display: grid;
    padding :2px;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
    grid-template-columns: 20% 0% 80%;


}

.subitem{
    background-color: white;
}

.subitem:hover{
    background-color: grey;
}
.mobileMenuContainer{

    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    /* align-content: center; */
    justify-content: top;
    padding-top: 25%;
    box-sizing: border-box;
    background-color: black;
}

.logoContainer{ 
    width:100%;
    /* display: flex;
    justify-content: left;
    align-items: left; */
    overflow: hidden;   
    cursor: pointer;
    filter: brightness(1);
    transition: 1s all;
    
}

.logoContainer:hover{
    filter: brightness(0.9);
}

.navigation{
    right: 0;
    align-items: center;
    width:100%;
    display: flex;
    justify-content: right;
}

.LogoImage{
    object-fit: contain;
    width: 70%;
}


@media only screen and (min-width: 900px) {
    .LogoImage{
       /* width:100%; */
    }
    /* .content_Container{
        grid-template-columns: 30% 10% 60%;

    } */
    .navigation{
        /* font-size : clamp(8px, 3vw, 25px); */

    }
}


@media only screen and (min-width: 1000px) {
 
    /* .content_Container{

        grid-template-columns: 30% 40% 30%;
    } */
    .navigation{
        font-size : clamp(8px, 1.5vw, 25px);

    }
}




 /* NAVBAR PHONE*/


.navBarPhone{
    position :fixed;
    top: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
    box-sizing: border-box;
}

.navBarItemContainer{
    background-color: black;
    border: solid white 1px;
    color: white;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    border-radius: 1em;
    display: grid;
    align-items: center;
    justify-content: center ;
    grid-template-columns: 20% 60% 20%;
    transition: all 0.1s;

}
#navBarPhone > #nBarPhonecontent{
    display: block;
    position: absolute;
    height: 0;
    width: 100%;
    background-color:rgba(75, 33, 33, 1);
    z-index: 0;
}



input[type = "checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
  }


  .bar {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 40px;
    margin: 30px;
  }
  
  .bar span {
    position: absolute;
    width: 45px;
    height: 7px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    display: inline-block;
    transition: 0.3s ease;
    left: 0;
  }

  .bar span.top {
    top: 0;
  }
  
  .bar span.middle {
    top: 50%;
    transform: translate(-0, -50%);
  }
  
  .bar span.bottom {
    bottom: 0;
  }
  
  /* input[type]:checked ~ span.top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 48px;
    left: 5px;
  }
  
  input[type]:checked ~ span.bottom {
    transform: rotate(-45deg);
    transform-origin: top left;
    width: 48px;
    bottom: -1px;
  }
  
  input[type]:checked ~ span.middle {
    transform: translateX(-20px);
    opacity: 0;
  }
 */


