
@media only screen and (min-width: 800px) {
    .contactUsContainer img{
        width:25%;
    }
    #contactusInfo{

        width:70%;
        grid-template-columns: repeat(5, 20%) !important;
    }
    #section2Info{

        grid-template-columns: 50% 50%;
    }
  }
@media only screen and (max-width: 800px) {
    .contactUsContainer img{
        width:40%;
    }

    #contactusInfo{
        width:70%;
        grid-template-columns: repeat(2,50%);   
    }
    #section2Info{

        grid-template-columns: 100%;
    }
  }

#contactusInfo{
    display: grid;  
    
}

#section2Info{

    width:70%;
    display: block;
    margin-top: 50px;
    /* border: solid 1px black; */
    margin-bottom: 300px;
    display: grid;
    word-break: break-all;
}

.formcontainer{
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
}

.section2Container{
    width:100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    box-sizing: border-box;
    
    /* justify-content: ; */
}

.contactUsContainer{
    width: 100%;
    border: solid 1px black;
    /* align-items: center; */
    display: flex;
    word-wrap: break-word;
    word-break: break-all;
    flex-direction: column;
    padding: 9%;
    box-sizing: border-box;
}

.contactUsContainer h1 {
    margin: 0;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}

.contactUsContainer img{
    /* height: 100%; */
    object-fit: contain;
    margin-bottom: 7%;
    height: 65px;
}

.contactUsContainer a{
    color: black;
    transition: all 0.5s;
}

.contactUsContainer a:hover{
    text-decoration: underline 2px solid;
}



.contactUsContainer p{

    text-align: center;
}